<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Магазин{% endblock %}</title>
</head>
<body>
    {% block content %}
    <h2>Список товаров:</h2>
    {% for product in products %}
        <h3>{{ product.name }}</h3>
        <p>Описание: {{ product.description}}</p>
        <p>Цена: {{ product.price}}</p>
        <p>Количество: {{ product.count}}</p>
    {% endfor %}
    {% endblock %}
</body>
</html>